body{
    background-color: rgb(202, 224, 213);
}

p {
    color: rgb(164, 240, 208);
}

h1 {
    font-style:initial
}

.one {
    color: rgb(82, 11, 148);
    font-size: 25px;
}

.img1 {
    font-weight: 50%;
}
